.Account{
    display: flex;
    flex-direction: column;
}
.Account__title {
    margin-left: 8rem;
    margin-top: 1rem;
}
.Account__card__container{
    display: grid;
    margin: auto;
    margin-top: 1rem;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    padding: 10px;
}
.grid__item{
    resize: both;
    max-width: 20rem;
}
