.checkout{
display: flex;
justify-content: space-between;
padding: 20px;
background-color: white;
height: max-content;
}
.checkout__left{
    margin-bottom: 10px;
}
.checkout__right{
    margin-bottom: 10px;
}
.checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
  }
@media (max-width:900px) {
    .checkout{
        flex-direction: column;
    }
}