.header{
    height:1 rem;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top:0;
    z-index: 200;
}
.header__logo:hover{
    border-radius: 5px;
    border:1px solid white;
}
.header__logo{
    width: 100px;
    resize: both;
    object-fit: contain;
    margin: 0 2px;
    margin-top: 16px;
}
.header__search{
    display: flex;
    flex: 1;
    width:100%;
    resize: both;
    align-items: center;
    border-radius: 24px;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
}
.header__searchForm{
    width:100%;
    resize: both;
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header__searchInput{
    border-radius: 5px;
    resize: both;
    height: 30px;
    padding: 10px;
    border: none;
    width:100%;
}
.header__searchButton{

    background-color:  #131921;
    border: 0px;
}
.header__searchIcon{
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    height: 30px !important;
    background-color: #ffca85;
}
.header__searchIcon:hover{

    background-color: #ff9100;
}
.header__search_result{
    margin-top: 40px;
    width:100%;
    z-index: 5000;
    opacity: 1;
    position: absolute;
    background-color: white;
    box-shadow: grey;
    border: solid 1px grey;
    overflow: hidden;
    overflow-y: auto;
}
.header__search_result  ::-webkit-scrollbar{
display: none;
}
.header__search_item {
    margin-left: 1em;
    margin-top: 1em;
    padding: auto;
    background-color: white;
    cursor: pointer;
}
.header__search_item :hover{
    background-color: grey;
}
.header__nav{
    display: flex;
    justify-content: space-evenly;
}
.header__option:hover{
    border-radius: 5px;
    border:1px solid white;
}
.header__nav{
    display: flex;
    justify-content: space-between;
}
.header__option{
    padding: 5px;
    display:flex;
    flex-direction: column;
    color: white;
}

.header__line1{
    font-size: 0.8em;
}
.header__line2{
    font-size: 1em;
    font-weight: 800;
}
.header__optionBasket:hover{
    border-radius: 5px;
    border:1px solid white;
}
.header__optionBasket{
    padding: 5px;
    display:flex;
    flex-direction: column;
    color: white;
}
.header__basketCount{
    font-size: 1em;
    margin-left: 10px;
    margin-right: 10px;
}
.header__location{
    padding: 5px;
    display:flex;
    color: white;
}
.header__logo_mobile{
    display: none;
}
@media (max-width:900px) {
    .header{
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .header__search{
        width: 96%;
    }
    .header__nav{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .header__option{
        flex-direction: row; 
        justify-content: space-between;
    }
    .header__line1{
        font-size: 1em;
        font-weight: 800;
        padding: 4px;
    }
    .header__line2{
        font-size: 1em;
        font-weight: 800;
        padding: 4px;
    }
    .header__logo{
        display: none;
    }
    .header__logo_mobile{
        display: flex;
        width: 100px;
        resize: both;
        object-fit: contain;
        margin: 0 2px;
        margin-top: 16px;
    }
}