.header{
    height:60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top:0;
    z-index: 100;
}
.header__logo:hover{
    border-radius: 5px;
    border:1px solid white;
}
.header__logo{
    width:100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 16px;
}
.header__search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}
.header__searchForm{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}
.header__searchInput{
    border-radius: 5px;
    height: 30px;
    padding: 10px;
    border: none;
    width:100%;
}
.header__searchButton{

    background-color:  #131921;
    border: 0px;
}
.header__searchIcon{
    border-radius: 5px;
    padding: 5px;
    height: 30px !important;
    background-color: #ffca85;
}
.header__searchIcon  :hover{

    background-color: #c98a39;
}
.header__nav{
    display: flex;
    justify-content: space-evenly;
}
.header__option:hover{
    border-radius: 5px;
    border:1px solid white;
}
.header__option{
    padding: 5px;
    display:flex;
    flex-direction: column;
    color: white;
}

.header__line1{
    font-size: 10px;
}
.header__line2{
    font-size: 13px;
    font-weight: 800;
}
.header__optionBasket:hover{
    border-radius: 5px;
    border:1px solid white;
}
.header__optionBasket{
    padding: 5px;
    display:flex;
    flex-direction: column;
    color: white;
}
.header__basketCount{
    margin-left: 10px;
    margin-right: 10px;
}