.profile{
    display: flex;
    flex-direction: column;
}
.profile__title {
    margin-left: 8rem;
    margin-top: 1rem;
}
.profile__container{
    margin:auto;
}

.profile__container > form > input {
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: white;
    width: 100%;
}
.profile__form{
margin-bottom: 10px;
}
.profile__edit{
    background: #f0c14b;
    border-radius: 4px;
    border: 1px solid;
    margin-top: 10px;
    margin-left: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}
.profile__modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey
}
.profile__modal__container{
    position: absolute;
    top: 25%;
    left: 25%;
    right: 25%;
    bottom: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 2em;
    animation: drop 500ms ease forwards;
}
.profile__modal__close{
    display: flex;
    justify-content: flex-end;
    margin: 1em;
}
.profile__modal__content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
    font-weight: bolder;
}
@keyframes drop {
    0% {opacity: 0;}
    70% {transform: translateY(10%);}
    100% {transform: translateY(25%);opacity: 1;}
}
